/*recursos globales*/
* {
  font-family: "Anantason Condensed", sans-serif;
}

body {
  margin: 0;
  background-color: #111;
  color: #fff;
}

/*Header*/
header {
  background-color: rgba(0, 0, 0, 0.63);
  border-bottom: 2px solid #a30000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.navbar-brand img {
  height: 40px;
  width: auto;
  transition: all 0.3s ease;
}

.navbar-nav {
  margin-left: 10px;
  padding-right: 10rem;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #ccc !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.1;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  text-decoration: underline;
}

.icono-inicio i {
  font-size: 1.5rem;
  color: #ccc;
  transition: all 0.3s;
}

.icono-inicio i:hover {
  color: #fff;
  transform: scale(1.15);
}


@media (max-width: 992px) {
  .navbar-brand img {
    height: 75px;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 65px;
  }

  .navbar-nav .nav-link {
    text-align: center;
    display: block;
    padding: 10px 0;
  }

  .icono-inicio {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    height: 55px;
  }
}


/*video bienvenida*/
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

@media (max-aspect-ratio: 9/16), (max-width: 768px) {
  .video-overlay {
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem;
  }
}

.video-overlay h1 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 0;
  line-height: 1.1;
}

.video-overlay p {
  font-family: 'Gothic A1', sans-serif;
  font-style: italic;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: clamp(2rem, 3vw, 1.5rem);
}
