@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'EastmanCondensed';
  src: url('fonts/EastmanCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000;
  color: #fff;
}

.carousel-caption-top {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.carousel-caption-top small {
  font-family: 'EastmanCondensed', sans-serif;
  font-size: 19.9px;
  color: #ffffff;
  margin-bottom: 0.3rem;
  letter-spacing: -1px;
}

.carousel-caption-top h2 {
  font-family: 'Gotham', sans-serif;
  font-size: 80px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 19px;
  line-height: 1.1;
  letter-spacing: -6px;
}


.carousel-image-container {
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  filter: invert(1);
}

.carousel-subtitle {
  font-family: 'EastmanCondensed', sans-serif; 
  font-size: 29.9px;
  color: #ccc;
  line-height: 0.9;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .carousel-caption-top h2 {
    font-size: 50px;
  }

  .carousel-image-container {
    height: 300px;
  }

  .fixed-img {
    width: 95%;
    height: 95%;
  }

  .carousel-caption-top small {
    font-size: 16px;
  }

  .carousel-subtitle {
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
}
