body {
  font-family: "Oswald", sans-serif;
  background-color: #000;
  color: #fff;
}

.pregunta {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 0;
}

.titulo-contacto {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid #a30000;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 10px;
}

.campo,
.campo-mensaje {
  background-color: transparent;
  border: 1px solid #a30000;
  color: #fff;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
}

.campo::placeholder,
.campo-mensaje::placeholder {
  color: #aaa;
  font-style: italic;
}

.btn-enviar {
  background: linear-gradient(to bottom, #a30000, #c00040);
  color: #fff;
  border: none;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  transition: transform 0.2s ease;
  display: inline-block;
}

.btn-enviar:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .titulo-contacto {
    font-size: 2rem;
  }

  .btn-enviar {
    width: 100%;
    text-align: center;
  }
}

